body {
  margin: 0;
  padding: 0;
  background: #524f4b;
  background: linear-gradient(342deg, rgba(82, 79, 75, 0.8357162689) 51%, rgba(198, 200, 196, 0.8432139127) 100%);
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #272a7f;
  height: 80px;
  width: 100%;
  position: relative;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logoTitle {
  display: flex;
  justify-content: start;
  align-items: center;
}
.header .logoWrapper {
  width: 70px;
  height: 70px;
  margin: 0 20px;
}
.header .logoWrapper img {
  width: 100%;
  height: 100%;
}
.header .headerTitle {
  color: #fff;
  padding: 10px;
}
@media (max-width: 767px) {
  .header .headerTitle {
    display: none;
  }
}
.header form#search {
  position: relative;
  right: 30px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header form#search {
    right: 10px;
    flex-direction: column;
  }
}
.header input#search {
  border-radius: 30px;
  height: 40px;
  text-indent: 10px;
  width: 300px;
  overflow: hidden;
  z-index: 9999;
  background: #35DCD9;
  color: #fff;
}
.header input#search::placeholder {
  color: #fff;
}
.header input#search:focus {
  outline: none;
  box-shadow: 3px 2px 10px 2px #000;
}
@media (max-width: 767px) {
  .header input#search {
    width: 200px;
  }
}
.header .searchWrapper {
  position: relative;
}
.header .searchByAuthorLabel {
  color: #fff;
}
.header button.submit {
  width: 30px;
  background: transparent;
  position: absolute;
  right: 3px;
  top: 0;
  bottom: 0;
  border: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
}
main .booksSection .booksSectionTitle {
  color: #272a7f;
  padding: 14px;
  font-size: 35px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}
main .booksSection .sortButtns {
  display: flex;
  justify-content: start;
}
main .booksSection .sortButtns .sortButton {
  color: #272a7f;
  margin: 0 25px;
  text-align: center;
  border-radius: 10px 30px 10px 30px;
}
main .booksSection .sortButtns .sortButton:hover {
  cursor: pointer;
  color: #35DCD9;
}
main .booksSection .sortButtns .sortButton.activeSort[set=down]:after {
  content: url("../icons/up.png");
  background-size: cover;
  position: absolute;
}
main .booksSection .sortButtns .sortButton.activeSort[set=up]:after {
  content: url("../icons/down.png");
  position: absolute;
}
main .booksSection .booksWrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 330px));
  grid-auto-rows: 1fr;
  grid-gap: 35px;
  margin: 0 auto;
  margin-top: 20px;
  grid-auto-flow: dense;
}
@media (max-width: 767px) {
  main .booksSection .booksWrapper {
    padding: 0 30px;
  }
}
main .booksSection .booksWrapper .book {
  display: flex;
  flex-direction: column;
  background-color: #35DCD9;
  margin-bottom: 30px;
  border: 1px solid #35DCD9;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 15px 5px #000000;
}
main .booksSection .booksWrapper .book a {
  color: #fff;
  text-decoration: none;
}
main .booksSection .booksWrapper .book .title {
  margin: 0;
  padding: 10px 10px 5px;
  font-weight: 600;
  font-size: 21px;
  border-bottom: 1px solid #272a7f;
  height: 45px;
  overflow: hidden;
}
main .booksSection .booksWrapper .book .title:hover {
  text-decoration: underline;
}
main .booksSection .booksWrapper .book .imgWrapper {
  overflow: hidden;
  position: relative;
  height: 350px;
}
main .booksSection .booksWrapper .book .imgWrapper img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: 1s;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
main .booksSection .booksWrapper .book .description {
  color: #fff;
  padding: 0 10px;
  height: 55px;
  margin: 8px 5px 5px;
  overflow: hidden;
}
main .booksSection .booksWrapper .book .author {
  text-align: center;
}
main .booksSection .booksWrapper .book:hover {
  background: #272a7f;
  border: 1px solid #272a7f;
}
main .booksSection .booksWrapper .book:hover .title {
  border-bottom: 1px solid #35DCD9;
}
main .booksSection .booksWrapper .book:hover .imgWrapper img {
  transform: scale(1.1);
  transition: 1s;
}

/*# sourceMappingURL=main.css.map */
